@import "reset";
@import "fonts";
@import "mixins/index";
@import "mixins/clearfix";



body {
	background-image: url(../../source/img/bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 180px;
	font-family: @ff-tahoma;
	font-size: 14px;
}

h2, h3 {
	font-family: @ff-opensans;
	color: #454545;
}

h2 {
	font-size: 36px;
	line-height: 1.8;
}

h3 {
	font-size: 25px;
	line-height: 1.6;
}

p {
	line-height: 1.6;
}

.header {
	border-bottom: 1px solid #ccc;
	height: 109px;
	padding-top: 50px;
}


.logo {
	text-decoration: none;
	font-family: @ff-opensans;
	font-size: 38px;
	color: #474747;	
}

.logo__img {
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	background-image: url(../../source/img/logo.png);
	background-repeat: no-repeat;
}

.header__nav {
	float: right;
	position: relative;
	top: 15px;
	li {
		float: left;
		list-style: none;
	}
	.act {
		background-color: #ddd;
	}
	a {
		display: block;
		text-decoration: none;
		padding: 0 10px 0 10px;
		font-size: 18px;
		font-family: @ff-opensans;
		color: #454545;
		&:hover {
			background-color: #bbb;
		}
	}
}

.slider__img {
	position: relative;
	right: 60px;
	bottom: 50px;
}

.slider__text {
	width: 470px;
	position: absolute;
	top: 450px;
	right: 350px;
	color: #fff;
	h2 {
		color: #fff; 
	}
}

.block__prod {
	position: relative;
	bottom: 55px;
}

.products {
	padding-bottom: 70px;
	.buttons {
		text-decoration: none;
		background-color: #222;
		color: #fff;
		line-height: 1.8;
	}
}

.products__item {
	float: left;
	.products__description {
		float: right;
		width: 140px;
		padding-left: 15px;
			p {
				font-size: 13px;
		}
	}
}

.stock__img {
	background-image: url(../../source/img/stock.png);
	background-repeat: no-repeat;
	height: 140px;
	width: 900px;
	position: absolute;
	top: 1120px;
}

.stock__text {
	width: 640px;
	height: 140px;
	position: relative;
	left: 170px;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.footer {
	font-size: 13px;
	font-family: @ff-opensans;
	.box {
		width: 40%;
		height: 15%;
		display: inline-block;
		.magic {
			float: left;
		}
		.face, .twit, address {
			float: right;
			text-align: right;
		}
	}
}

.icons {
		background-image: url(../../source/img/sprites_1.png);
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		border: 1px solid #000;
	}

.clearfix {
	.clearfix();
}