/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-image: url(../../source/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 180px;
  font-family: 'Tahoma', sans-serif;
  font-size: 14px;
}
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  color: #454545;
}
h2 {
  font-size: 36px;
  line-height: 1.8;
}
h3 {
  font-size: 25px;
  line-height: 1.6;
}
p {
  line-height: 1.6;
}
.header {
  border-bottom: 1px solid #ccc;
  height: 109px;
  padding-top: 50px;
}
.logo {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  color: #474747;
}
.logo__img {
  display: block;
  float: left;
  width: 45px;
  height: 45px;
  background-image: url(../../source/img/logo.png);
  background-repeat: no-repeat;
}
.header__nav {
  float: right;
  position: relative;
  top: 15px;
}
.header__nav li {
  float: left;
  list-style: none;
}
.header__nav .act {
  background-color: #ddd;
}
.header__nav a {
  display: block;
  text-decoration: none;
  padding: 0 10px 0 10px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #454545;
}
.header__nav a:hover {
  background-color: #bbb;
}
.slider__img {
  position: relative;
  right: 60px;
  bottom: 50px;
}
.slider__text {
  width: 470px;
  position: absolute;
  top: 450px;
  right: 350px;
  color: #fff;
}
.slider__text h2 {
  color: #fff;
}
.block__prod {
  position: relative;
  bottom: 55px;
}
.products {
  padding-bottom: 70px;
}
.products .buttons {
  text-decoration: none;
  background-color: #222;
  color: #fff;
  line-height: 1.8;
}
.products__item {
  float: left;
}
.products__item .products__description {
  float: right;
  width: 140px;
  padding-left: 15px;
}
.products__item .products__description p {
  font-size: 13px;
}
.stock__img {
  background-image: url(../../source/img/stock.png);
  background-repeat: no-repeat;
  height: 140px;
  width: 900px;
  position: absolute;
  top: 1120px;
}
.stock__text {
  width: 640px;
  height: 140px;
  position: relative;
  left: 170px;
}
.container {
  width: 900px;
  margin: 0 auto;
}
.footer {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.footer .box {
  width: 40%;
  height: 15%;
  display: inline-block;
}
.footer .box .magic {
  float: left;
}
.footer .box .face,
.footer .box .twit,
.footer .box address {
  float: right;
  text-align: right;
}
.icons {
  background-image: url(../../source/img/sprites_1.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
